In [5]:
11

11

In [4]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/mydrive/')

Mounted at /content/mydrive/

# [read_csv](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)
- Read a comma-separated values(csv) file into DatFrame

In [9]:
data = pd.read_csv('/content/mydrive/MyDrive/MachineLearningWithPython/files/weather.csv')
data.info() # RangeIndex, 23 columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3337 entries, 0 to 3336
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           3337 non-null   object
 1   MinTemp        3334 non-null   float64
 2   MaxTemp        3335 non-null   float64
 3   Rainfall       3331 non-null   float64
 4   Evaporation    3286 non-null   float64
 5   Sunshine       3321 non-null   float64
 6   WindGustDir    2301 non-null   object
 7   WindGustSpeed  2301 non-null   float64
 8   WindDir9am     3281 non-null   object
 9   WindDir3pm     3304 non-null   object
 10  WindSpeed9am   3311 non-null   float64
 11  WindSpeed3pm   3312 non-null   float64
 12  Humidity9am    3323 non-null   float64
 13  Humidity3pm    3324 non-null   float64
 14  Pressure9am    3317 non-null   float64
 15  Pressure3pm    3318 non-null   float64
 16  Cloud9am       2771 non-null   float64
 17  Cloud3pm       2776 non-null   float64
 18  Temp9am        3333 non-null   float64
 19  Temp3pm        3333 non-null   float64
 20  RainToday      3331 non-null   object
 21  RISK_MM        3337 non-null   float64
 22  RainTomorrow   3337 non-null   object
dtypes: float64(17), object(6)
memory usage: 599.7+ KB

## parse_date
- default: false
- if True -> try parsing the index

In [10]:
data = pd.read_csv('/content/mydrive/MyDrive/MachineLearningWithPython/files/weather.csv', parse_dates=True)
data.info() # RangeIndex, 23 columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3337 entries, 0 to 3336
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           3337 non-null   object
 1   MinTemp        3334 non-null   float64
 2   MaxTemp        3335 non-null   float64
 3   Rainfall       3331 non-null   float64
 4   Evaporation    3286 non-null   float64
 5   Sunshine       3321 non-null   float64
 6   WindGustDir    2301 non-null   object
 7   WindGustSpeed  2301 non-null   float64
 8   WindDir9am     3281 non-null   object
 9   WindDir3pm     3304 non-null   object
 10  WindSpeed9am   3311 non-null   float64
 11  WindSpeed3pm   3312 non-null   float64
 12  Humidity9am    3323 non-null   float64
 13  Humidity3pm    3324 non-null   float64
 14  Pressure9am    3317 non-null   float64
 15  Pressure3pm    3318 non-null   float64
 16  Cloud9am       2771 non-null   float64
 17  Cloud3pm       2776 non-null   float64
 18  Temp9am        3333 non-null   float64
 19  Temp3pm        3333 non-null   float64
 20  RainToday      3331 non-null   object
 21  RISK_MM        3337 non-null   float64
 22  RainTomorrow   3337 non-null   object
dtypes: float64(17), object(6)
memory usage: 599.7+ KB

## index_col
- default: None
- Column to use as the row labels of the DataFrame
- index_col=0: data.iloc[:, 0]을 DataFrame의 row labels로 지정

In [8]:
data.iloc[:, 0] # data['Date']

0       2008-02-01
1       2008-02-02
2       2008-02-03
3       2008-02-04
4       2008-02-05
           ...
3332    2017-06-21
3333    2017-06-22
3334    2017-06-23
3335    2017-06-24
3336    2017-06-25
Name: Date, Length: 3337, dtype: object

In [11]:
data = pd.read_csv('/content/mydrive/MyDrive/MachineLearningWithPython/files/weather.csv', parse_dates=True, index_col=0)
data.info() # DatetimeIndex, 22 columns

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3337 entries, 2008-02-01 to 2017-06-25
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MinTemp        3334 non-null   float64
 1   MaxTemp        3335 non-null   float64
 2   Rainfall       3331 non-null   float64
 3   Evaporation    3286 non-null   float64
 4   Sunshine       3321 non-null   float64
 5   WindGustDir    2301 non-null   object
 6   WindGustSpeed  2301 non-null   float64
 7   WindDir9am     3281 non-null   object
 8   WindDir3pm     3304 non-null   object
 9   WindSpeed9am   3311 non-null   float64
 10  WindSpeed3pm   3312 non-null   float64
 11  Humidity9am    3323 non-null   float64
 12  Humidity3pm    3324 non-null   float64
 13  Pressure9am    3317 non-null   float64
 14  Pressure3pm    3318 non-null   float64
 15  Cloud9am       2771 non-null   float64
 16  Cloud3pm       2776 non-null   float64
 17  Temp9am        3333 non-null   float64
 18  Temp3pm        3333 non-null   float64
 19  RainToday      3331 non-null   object
 20  RISK_MM        3337 non-null   float64
 21  RainTomorrow   3337 non-null   object
dtypes: float64(17), object(5)
memory usage: 599.6+ KB

## datetimeIndex

In [12]:
data.index

DatetimeIndex(['2008-02-01', '2008-02-02', '2008-02-03', '2008-02-04',
               '2008-02-05', '2008-02-06', '2008-02-07', '2008-02-08',
               '2008-02-09', '2008-02-10',
               ...
               '2017-06-16', '2017-06-17', '2017-06-18', '2017-06-19',
               '2017-06-20', '2017-06-21', '2017-06-22', '2017-06-23',
               '2017-06-24', '2017-06-25'],
              dtype='datetime64[ns]', name='Date', length=3337, freq=None)